<!--About Me-->
<div class="content container">
    <div class="page">
        <h1 class="page-title">About Me</h1>
        <p>Hi, my name is Rahul. I have been building software since 8+ years now :)</p>

        <p>Over the years I have worked with Microsoft and Google Stack</p>

        <p>For the past few years my focus has been primarily on the web side of things - so mostly ASP.NET, Web API, JavaScript and all the related web technologies.</p>

        <p>I regularly blog at <strong><a href="http://www.myview.rahulnivi.net" target="_blank">My View</a></strong> here about web development topics. </p>

        <p>I am the author of many technical books, which can be referred @ <strong> <a href="http://amzn.to/1Tb8cIN" target="_blank">My Titles</a></strong> </p>

        <p>I am actively involved in open source and have been the primary contributor for the <strong> <a href="https://github.com/rahulsahay19" target="_blank">Microsoft Stack</a>.</strong> </p>

    </div>
    <div class="col-md-3 widget">
        <h3 class="widget-title">Follow me</h3>
        <div class="widget-body">
            <p class="follow-me-icons">
                <a href="https://twitter.com/rahulsahay19" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
                <a href="http://in.linkedin.com/in/rahulsahay19/" target="_blank"><i class="fa fa-linkedin fa-4x"></i></a>
                <a href="https://github.com/rahulsahay19" target="_blank"><i class="fa fa-github fa-4x"></i></a>
                <a href="https://www.facebook.com/rahulsahay19" target="_blank"><i class="fa fa-facebook fa-4x"></i></a>
            </p>
        </div>
    </div>
</div>